html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding: 1em;
  margin: auto;
  font-family: Inter, sans-serif;
  background: #1c1c1c;
}
.container {
  background: lightgray;
  max-width: 550px;
}
/* ----Header---inputs---- */
.container-input {
  display: flex;
  gap: 1rem;
  padding: 1em;
}

.container-input input[type='color'] {
  border: none;
  width: 4em;
  height: 2.5em;
}
.container-input select {
  width: 17rem;
  border-radius: 0.4em;
}
.container-input select[data-chosen]:checked {
  font-weight: bold;
}
.container button {
  padding: 1em 1.4em;
  background: #ffffff;
  border-radius: 0.4em;
  border: solid 1px lightgray;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.color-container {
  display: flex;
  text-align: center;
}
.color-container p {
  font-weight: 600;
  font-size: 0.8rem;
}
.color-container img {
  height: 500px;
  width: 110px;
}

.options-el {
  border: 1px solid lightgray;
  font-size: 1.2rem;
  padding: 0 0.5em;
}

.options-el option:checked {
  font-weight: bold;
  background: white;
}

/* Media */

@media screen and (max-width: 500px) {
  .color-container {
    flex-direction: column;
  }

  .color-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .color-item img {
    height: 100px;
    width: 100%;
  }

  .color-item p {
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    margin-left: 1em;
    margin-top: 5.5em;
    width: 30px;
  }
}
